.grid-container{
	overflow: hidden;
}
.grid-view{
	display: inline-block;
	float: left;
}
.grid-column-column{
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
}
.grid-column-title{
	position: relative;
	text-align: center;
	overflow: hidden;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}
.grid-column-text{
	overflow: hidden;
	position: relative;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.grid-column-dropdown-btn{
	position: absolute;
	right: 0px;
	top: 0px;
	background-image: url("../images/form/trigger.gif");
	width: 16px;
}
.grid-column-dropdown-menu{
	position: absolute;
	left: 0px;
	top: 0px;
	padding: 5px 0px 0px 0px;
	background: #F0F0F0;
}
.grid-column-dropdown-menu .menu-item{
	padding: 0px 0px 5px 0px;
	cursor: pointer;
}
.grid-body{
	overflow: auto;
}
.grid-body-data{
	table-layout: fixed;
}
.grid-body-data td{
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	vertical-align: middle;
	
	word-break: keep-all;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.grid-body-data-row{
	height: 26px;
}
.grid-body-data-head th{
	height: 0px;
}
.grid-row-stripe{
	background-color: #EEEEFF;
}
.grid-row-over{
	background-color: #D7EBF9;
}
.grid-row-selected{
	background-color: #FBEC88;
}
.grid-column-editor{
	position: absolute;
	left: -99999px;
	top: -99999px;
}
.grid-view-left .grid-body{
	overflow: hidden;
}
